*{
    font-family: Arial, Helvetica, sans-serif;
    padding: 0; 
    margin: 0;
  /*  background-color: #010101 ;  
    color: white;  */
    font-size: 12px;
    
}
body,html{
    height: 100%;
    width: 100%;
}
.headermenu{
    background-color: #00b9ed;
    height: 48px;
    padding-left: auto;
    border-bottom: 0px;
    padding-right: auto;
    width: 100%;

}
#wrapper{
    margin-left: auto;
    margin-right: auto;
    width:  1000px;
    height: 48px;
    padding: 5px;
    padding-top: 0px;
    padding-bottom: 0px;
    display: flex;
    background-color: #00b9ed;
    align-items: center;
}
#wrapper ul li a div{
    margin-left: 5px;
    text-transform: capitalize;
    display: flex;
    background-color: #00b9ed;
}
#wrapper ul{
    display: flex;
    list-style: none;
}
#wrapper li{
    background-color: #00b9ed;
}
#wrapper a{
    text-decoration: none;
}
.title{
    font-size: 48px;
    display: flex;
    background: transparent;
    align-items: center;
}

.logo{
    width: 48px;
}
.logo img{
    width: 48px;
    height: 48px;
}

.search_box{
    background: transparent;
    
}
.search_box form{
    display: flex;
    
}
#search{
    background: transparent;
}
#search > input[type=text]{
    border: 1px solid black;
    margin: 3px;
    height: 40px;
    font-size: 24px;
    padding: none;
    width: 350px;
    background: white;
    margin-right: 0px;
}
/* #search > input[type=button]{
    
} */
#search_font{
    height: 38px;
    width: 48px;
    border: 1px solid black;
    background-color: white;
    background-image: url('../img/search_icon.png');
    margin: 3px;
    background-size: cover;
    margin-left: 0px;
}
.entry-container{
    display: flex;
}
.grid-container{
    display: flex;
    width: 100%;
    height: 100%;
}
.grid-container-left { 
    width: 20%;
    height: 100%;
    
} 
.grid-container-right{
    width: 80%;
    height: 100%;
    background-color: seagreen;
}
.profile{
    background-color: purple;
    width: 100%;
    height: 35%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container{
    background-color: blue;
    width: 100%;
    height: 65%;
}
.postform{
    background-color: tomato;
    width: 100%;
    height: 15%;
    
}
.post-container{
    background-color: gold;
    width: 100%;
    height: 85%;
}
#profile_picture{
    background-color: whitesmoke;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    margin: 15px;
}
#username{
    opacity: 0.45;
    text-align: center;
    padding: 2px;
}
.postform form{
    display: flex;
    height: 100%;
    width: 100%;

}
body > div.grid-container > div.grid-container-right > div.postform > form > input[type=text]:nth-child(1){
    width: 90%;
    background-color: white;
    margin:0px;
    border: none;
    height: 100%;
    color: rgba(100,100,100,0.5);
    font-weight: 900;
    text-align: center;
}
body > div.grid-container > div.grid-container-right > div.postform > form > input[type=submit]:nth-child(2){
    width: 10%;
    border: none;
    border-left: 1px solid rgba(100,100,100,0.5) ;
    background-color: white;
    margin: 0px;
    color: black;
    font-weight: bold;
    height: 100%;
}

